<div class="section">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-4">

        <h2 class="title">Sign Up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="field">
          <div class="control">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: 'input' },  label_html: {class: 'label'}, wrapper: false %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password", class: 'input' },
                        label_html: { class: 'label' },
                        wrapper: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.button :submit, "Sign in", class: 'button is-info is-medium' %>
          </div>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
        

